doctype html
html
  head
    title Edit Contact
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  body
    .container
      h1 Edit Contact
      form(action=`/contacts/${contact.id}/update` method="post")
        .form-group
          label(for="firstName") First Name
          input#firstName.form-control(type="text" name="firstName" required value=contact.firstName)
        .form-group
          label(for="lastName") Last Name
          input#lastName.form-control(type="text" name="lastName" required value=contact.lastName)
        .form-group
          label(for="email") Email Address
          input#email.form-control(type="email" name="email" value=contact.email)
        .form-group
          label(for="notes") Notes
          textarea#notes.form-control(name="notes")= contact.notes
        button.btn.btn-primary(type="submit") Save Changes
